:root{
    --bg-primary: #c5211c;
    --text-primary: #f7ba79;
    --hover-color: #ddd;
}
.footer{
    background: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    height: 100px;
   
}
.footer p {
    color: var(--text-primary);
}
.footer .social__media {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 0.6rem;
}
.footer .social__media svg{
    color: var(--hover-color);
    font-size: 2rem;
    cursor: pointer;
    
}
.footer .social__media svg:hover{
    color: var(--text-primary);
    transition: 0.3s ease;
}